.backgroundSelector {
    text-align: center;
    grid-area: backgroundSelector;
}

.backgroundSelectorList {
    margin: 0 0 1rem;
    padding: 0;
    list-style-type: none;
    display: block;
    width: 100%;
    text-align: center;
    li {
        margin: 0.5rem;
        img {
            border: 2px solid #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: border 200ms ease-in-out, transform 250ms ease-in-out;
            &:hover {
                border: 2px solid #60ddc2;
            }
            &.activeItem {
                border: 2px solid #60ddc2;
                transform: scale(1.05);
            }
        }
    }
}
