.textItem {
    position: absolute;
    text-align: center;
    cursor: move;
}

.textItemBox {
    position: absolute;
}

.textItemBoxAction {
    position: absolute;
    bottom: -2rem;
    left: calc(50% - 35px)
}

.fontArial {
    font-family: Arial, sans-serif;
}
.fontTimes {
    font-family: "Times New Roman", Times, Serif;
}
.fontOpensans {
    font-family: "Open Sans", sans-serif;
}
